.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button button {
    width: 100%;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 0.25rem;
    background: var(--blue-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.25rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button button:enabled:hover {
    background: var(--light-blue-color);
    color: var(--white-color);
}

.primary-button button:disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
}

.primary-button button:disabled:hover {
    color: var(--white-color);
}

.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-button button {
    width: 100%;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 0.25rem;
    background: var(--white-color);
    color: var(--blue-color);
    border: var(--blue-color) 0.15rem solid;
    font-weight: 600;
    font-size: 1.25rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-button button:enabled:hover {
    background: var(--secondary-hover-color);
    color: var(--dark-blue-color);
    border-color: var(--dark-blue-color);
}

.secondary-button button:enabled:hover .plus-icon {
    filter: brightness(0.5);
}

.secondary-button button:disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
    color: var(--gray-color);
    border-color: var(--gray-color);
}

.secondary-button button:disabled .plus-icon {
    filter: saturate(0);
    opacity: 0.3;
}
