@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');
@import url("form-control.css");
@import url("card.css");
:root {
    --light-gray-color: #F5F5F5;
    --light-blue-color: #3B95D2;
    --navy-blue-color: #BBE1FA;
    --dark-blue-color: #0F4C75;
    --black-color: #1B262C;
    --gray-color: #C4C4C4;
    --dark-gray-color: #757575;
    --blue-color: #3282B8;
    --white-color: #FFFFFF;
    --green-color: #28A745;
    --red-color: #DC3545;
    --border-color: rgba(27, 38, 44, 0.2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 1rem Work Sans;
    color: var(--black-color);
}

ul {
    list-style: none;
}

#content {
    background: var(--light-gray-color);
    min-height: 100vh;
    height: 100%;
}

#loading,
#alert {
    margin-top: 1.5rem;
}

.default-alert .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0.6rem;
    top: 0.3rem;
}

.element-effected {
    position: fixed;
    right: 1rem;
    bottom: 0.5rem;
    z-index: 10;
}

.element-effected .alert-message {
    padding-right: 1rem;
}

.hide-element {
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in;
}

.show-element {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.logo {
    margin-top: 1.5rem;
    padding: 0 2.75rem;
}

.title {
    font: 600 2rem Poppins;
    color: var(--dark-blue-color);
}

.primary-button button {
    width: 100%;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 0.25rem;
    background: var(--blue-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.25rem;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button button:enabled:hover {
    background: var(--light-blue-color);
    color: var(--white-color);
}

.primary-button button:disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
}

.primary-button button:disabled:hover {
    color: var(--gray-color);
}

.secondary-button button {
    width: 100%;
}

.primary-divider {
    border: 1px solid;
    border-image: linear-gradient( 90deg, var(--dark-blue-color) 1%, var(--navy-blue-color) 95%) 1;
}

.secondary-divider {
    margin: 1.5rem;
    border: 1px solid;
    border-image: linear-gradient( 90deg, var(--navy-blue-color) 1%, var(--dark-blue-color) 95%) 1;
}

.hasAccount {
    display: block;
    font-size: 1rem;
    color: var(--black-color);
    opacity: 0.8;
    margin-bottom: 1.5rem;
}

.hasAccount a {
    color: var(--blue-color);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    html {
        margin: 0;
        padding: 0;
    }
    #content {
        min-height: 100vh;
        padding-top: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .hasAccount {
        margin-bottom: 2rem;
    }
}