@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');
@import url("form-control.css");
:root {
    --light-gray-color: #F5F5F5;
    --light-blue-color: #3B95D2;
    --navy-blue-color: #BBE1FA;
    --dark-blue-color: #0F4C75;
    --black-color: #1B262C;
    --gray-color: #C4C4C4;
    --dark-gray-color: #757575;
    --blue-color: #3282B8;
    --white-color: #FFFFFF;
    --green-color: #28A745;
    --red-color: #DC3545;
}

#content {
    background: var(--light-gray-color);
    min-height: 100vh;
    height: 100%;
}

.card {
    margin: 20px 0;
    background: var(--white-color);
    border: 1px solid var(--black-color) 20%;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card .card-title {
    background: var(--navy-blue-color);
    width: 100%;
    height: 100%;
    margin: 0;
}

.card .card-title p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black-color);
}

.default-divider {
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--dark-blue-color) 1%, var(--navy-blue-color) 95%) 1;
}

@media (max-width: 992px) {
    .card .row .col {
        margin-top: 1rem !important;
    }
}