@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');
@import url("form-control.css");
@import url("card.css");
@import url("menu.css");
@import url("footer.css");
@import url("text.css");
@import url("helper.css");
@import url("icons.css");
@import url("animations.css");
@import url("button.css");
@import url("modal.css");

:root {
    --light-gray-color: #F5F5F5;
    --light-blue-color: #3B95D2;
    --navy-blue-color: #BBE1FA;
    --dark-blue-color: #0F4C75;
    --black-color: #1B262C;
    --gray-color: #C4C4C4;
    --dark-gray-color: #757575;
    --medium-gray-color: #DADADA;
    --blue-color: #3282B8;
    --white-color: #FFFFFF;
    --green-color: #28A745;
    --red-color: #DC3545;
    --border-color: rgba(27, 38, 44, 0.2);
    --secondary-hover-color: rgba(15, 76, 117, 0.15);
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    font: 400 1rem Work Sans;
    color: var(--black-color);
}

ul {
    list-style: none;
}

#content {
    background: var(--light-gray-color);
    min-height: 100vh;
    height: 100%;
}

.logo {
    margin-top: 1.5rem;
    padding: 0 2.75rem;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.primary-divider {
    border-bottom: 1px solid;
    border-image: linear-gradient( 90deg, var(--dark-blue-color) 1%, var(--navy-blue-color) 95%) 1;
}

.secondary-divider {
    margin: 1.5rem;
    border-bottom: 1px solid;
    border-image: linear-gradient( 90deg, var(--navy-blue-color) 1%, var(--dark-blue-color) 95%) 1;
}

.third-divider {
    border-bottom: 1px solid;
    opacity: 0.3;
    border-image: linear-gradient(45deg, var(--navy-blue-color) 5%, var(--dark-blue-color) 95%) 1;
}

@media screen and (min-width: 992px) {
    html {
        margin: 0;
        padding: 0;
    }
    #content {
        min-height: 100vh;
        padding-top: 2rem;
    }
}