{% extends "components/base.html.twig" %}

{% block title %} Faça seu login {% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="./css/pages/login.css" />
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <img class="img-fluid logo d-lg-none" src="./images/logo-quiznow.png" alt="Logo QuizNow" title="QuizNow">
        <div class="card">
            <div class="row">
                <div class="col-4 d-none d-lg-block">
                    <div class="banner">
                        <img class="img-fluid" title="QuizNow" alt="Logo QuizNow" src="./images/logo-quiznow.png" />
                        <p class="text-center">Bem-vindo de volta!</p>
                        <img class="img-fluid" title="Entre na plataforma" alt="Mulher concentrada respondendo um teste online através de um notebook" src="./images/login-banner.png" />
                        <div class="license">
                            <a href="https://storyset.com/people" target="_blank">People illustrations by Storyset</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <form id="form-login" class="form">
                        <h3 class="title text-center">Faça seu login</h3>
                        <div class="primary-divider d-none d-lg-block"></div>
                        <div class="form-group default-form-group">
                            <label for="login-email">E-mail</label>
                            <input type="text" class="form-control shadow-none" formcontrol="email" onkeyup="changeField(event)" id="login-email" maxlength="256" required>
                        </div>
                        <div class="form-group default-form-group">
                            <label for="login-password">Senha</label>
                            <i class="fas fa-eye existing-icon" onclick="handleInputType(event)"></i>
                            <input type="password" class="form-control shadow-none" formcontrol="password" onkeyup="changeField(event)" id="login-password"  maxlength="32" required>
                        </div>
                        <div class"row">
                            <div class="col">
                                <div class="connected">
                                    <input id="connected-checkbox" class="form-check-input shadow-none" type="checkbox">
                                    <label id="connected-text" for="connected-checkbox">Mantenha-me conectado</label>
                                </div>
                            </div>
                        </div>
                        <div id="loading" class="d-none text-center">
                            <img src="./images/loading.gif" alt="Carregando cadastro de novo usuário" title="Carregando..."/>
                        </div>
                        <div class="primary-button">
                            <button type="submit" class="btn shadow-none">Entrar</button>
                        </div>
                        <div class="text-center d-none d-lg-block">
                            <a href="#" id="forgot-password">Esqueceu a senha?</a>
                        </div>
                        <div class="secondary-divider d-none d-lg-block"></div>
                        <div class="row text-center d-none d-lg-block">
                            <div class="col">
                                <span class="hasAccount">
                                    Não tem uma conta?
                                    <a href="{{ url }}/register">Registre-se</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center d-lg-none">
            <a href="#" id="forgot-password">Esqueceu a senha?</a>
        </div>
        <div class="secondary-divider d-lg-none"></div>
        <div class="row text-center d-lg-none">
            <div class="col">
                <span class="hasAccount">
                    Não tem uma conta?
                    <a href="{{ url }}/register">Registre-se</a>
                </span>
            </div>
        </div>
        <div id="alert" class="alert alert-danger element-effected hide-element default-alert" role="alert">
            <span class="alert-message pr-3"></span>    
            <i class="fas fa-times close-icon" onclick="closeElement(event.target.parentElement, '', true)"></i>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="./js/pages/login.js"></script>
{% endblock %}
