textarea {
    resize: none;
}

.create-question .basic-card {
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem 1rem;
}

.create-question .basic-card .secondary-divider {
    margin: 0.5rem 1rem 1.5rem;
}

.title-section .form-group {
    margin: 0 2.5rem;
}

.create-question .basic-card .answers-section {
    margin: 2rem 2.5rem 0;
}

.answers-section .answer {
    margin-top: 0.5rem;
}

.answers-section {
    margin-top: 2rem;
}

.answers-section button {
    margin-top: 2rem;
}

.right-icon {
    width: 1rem;
    height: 1rem;
}

.right-bg {
    border: var(--green-color) 0.1rem solid;
    border-radius: 0 0.25rem 0.25rem 0;
    background: rgba(40, 167, 69, 0.3);
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.wrong-icon {
    width: 1rem;
    height: 1rem;
}

.wrong-bg {
    border: var(--red-color) 0.1rem solid;
    border-radius: 0 0.25rem 0.25rem 0;
    background: rgba(220, 53, 69, 0.3);
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.actions-section {
    background-color: var(--white-color);
}

.actions-section .primary-button {
    margin: 1rem;
    align-items: center;
}

.actions-section button.btn {
    margin-bottom: 1rem;
    height: 4.5rem;
    align-items: center;
    font-size: 1.75rem;
}

#cancel-question {
    color: rgba(27, 38, 44, 0.8);
    text-decoration: underline;
    transition: 0.2s;
}

#cancel-question:hover {
    color: var(--red-color);
}

@media screen and (max-width: 360px) {
    .plus-icon {
        width: 1rem;
        height: 1rem;
    }

    .secondary-button button {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 992px) {
    .create-question .basic-card {
        height: auto;
        max-width: 80%;
        margin: 6rem auto 4rem;
        padding: 2rem 8rem 1rem;
    }

    .create-question .basic-card .primary-divider {
        margin: 0.5rem 0 2rem;
    }

    .title-section .form-group {
        margin: 0 4rem;
    }

    .title-section .title {
        font-size: 2rem;
    }

    .create-question .basic-card .answers-section {
        margin: 3rem 4rem 0;
    }

    .answers-section .answer {
        margin-top: 1rem;
    }

    .answers-section button {
        max-width: 19rem;
        margin: 2rem auto;
    }
    
    .right-bg {
        width: 8%;
    }
    
    .wrong-bg {
        width: 8%;
    }

    #question-title {
        height: 4rem;
    }

    .create-question .basic-card .actions-section {
        position: relative;
        margin-top: 3.5rem;
    }

    .actions-section button.btn {
        height: 5.5rem;
        font-size: 2rem;
        max-width: 25rem;
    }

    .actions-section .primary-button {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}