.login-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--dark-blue-color);
}

.connected {
  display: flex;
  align-items: center;
}

#connected-checkbox:checked {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

#connected-text {
  padding-left: 0.5rem;
}

#forgot-password {
  opacity: 0.6;
  text-decoration: underline;
}