.connected {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#connected-checkbox {
  margin-top: 0;
  cursor: pointer;
}

#connected-checkbox:checked {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

#connected-text {
  padding-left: 0.5rem;
  cursor: pointer;
}

#connected-text,
#forgot-password {
  font: 400 0.875rem Work Sans;
}

#forgot-password {
  font-size: 0.875rem;
}

@media (max-width: 375px) {
  #connected-text,
  #forgot-password,
  span.hasAccount {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .connected {
    margin: 1.5rem 0 2.5rem;
  }

  .card .secondary-divider {
    margin: 2rem 0;
  }

  .hasAccount {
    margin-bottom: 2rem;
  }
}
