{% extends "components/base.html.twig" %}

{% block title %} Registro de usuário {% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="./css/pages/register.css" />
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container p-4">
        <img class="img-fluid px-4 d-lg-none" title="Logo QuizNow" src="./images/logo-quiznow.png" />
        <div class="card">
            <div class="row m-0">
                <div class="col-3 p-0 d-none d-lg-block">
                    <div class="banner px-3 py-5">
                        <img class="img-fluid" title="Logo QuizNow" src="./images/logo-quiznow.png" />
                        <p class="py-4">
                            Cadastre-se e crie quantos quizzes você quiser.
                        </p>
                        <div class="images">
                            <img class="img-fluid" title="city-2" src="./images/city-2.jpeg" />
                            <img class="img-fluid" title="city-1" src="./images/city-1.jpeg" />
                            <img class="img-fluid" title="courtney" src="./images/courtney.jpeg" />
                        </div>
                    </div>
                </div>
                <div class="col mt-5 pb-4 px-4">
                    <form>
                        <h3 class="register-title text-center"> Crie sua conta </h3>
                        <div class="default-divider mb-2 d-none d-lg-block"></div>
                        <div class="form-group default-form-group py-2">
                            <label for="registerName" class="pb-2">Nome</label>
                            <i class="fas icon"></i>
                            <input 
                                type="text" 
                                class="form-control shadow-none" 
                                formControl="name"
                                id="registerName" 
                                onblur="validateName(event, 3)" 
                                onFocus="handleFocusInput(event)" 
                                maxlength="120" 
                                required>
                            <span class="error-message"></span>
                        </div>
                        <div class="form-group default-form-group py-2">
                            <label for="registerEmail" class="pb-2">E-mail</label>
                            <i class="fas icon"></i>
                            <input 
                                type="email" 
                                class="form-control shadow-none" 
                                formControl="email"
                                id="registerEmail"
                                onblur="validateEmail(event)" 
                                onFocus="handleFocusInput(event)"  
                                maxlength="256" 
                                required>
                            <span class="error-message"></span>

                        </div>
                        <div class="form-group default-form-group py-2">
                            <label for="registerPassword" class="pb-2">Senha</label>
                            <i class="fas fa-eye existing-icon" onclick="handleInputType(event)"></i>
                            <input 
                                type="password" 
                                class="form-control shadow-none" 
                                formControl="password"
                                id="registerPassword"
                                onblur="validatePassword(event, 3)" 
                                onFocus="handleFocusInput(event)"  
                                maxlength="32" 
                                placeholder="8-32 caracteres" 
                                required>
                            <span class="error-message"></span>
                        </div>
                        <div class="form-group default-form-group py-2">
                            <label for="registerPassword" class="pb-2">Confirmar Senha</label>
                            <i class="fas fa-eye existing-icon" onclick="handleInputType(event)"></i>
                            <input 
                                type="password" 
                                class="form-control shadow-none" 
                                id="registerPasswordConfirmation" 
                                formControl="passwordConfirmation"
                                onblur="validatePasswordConfirmation(event, 3)" 
                                onFocus="handleFocusInput(event)"
                                maxlength="32" 
                                required>
                            <span class="error-message"></span>
                        </div>
                        <div class="default-button">
                            <button type="submit" class="btn mt-3 mb-2" disabled> Cadastrar </button>
                        </div>
                        <div class="row text-center d-none d-lg-block pt-3">
                            <div class="col">
                                <span class="hasAccount">Já tem uma conta? 
                                    <a href="{{ url }}/login" class="login"> Entre </a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="row pt-3 text-center d-lg-none">
            <div class="col">
                <span class="hasAccount">Já tem uma conta? 
                    <a href="{{ url }}/login" class="login"> Entre </a>
                </span>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="./js/all/validation.js"></script>
    <script src="./js/pages/register.js"></script>
{% endblock %}
