<footer>
  <div id="footer">
    <ul>
      <li class="d-none d-lg-block">
        <img class="footer-logo" src="./images/logo.png" alt="Logo QuizNow" />
      </li>
      <li>
        <p class="light-link">
          © 2021 All rights reserved.
          <a href="{{ url }}/">QuizNow</a>
        </p>
      </li>
      <li>
        <a href="https://github.com/acampamento-de-ferias" target="_blank">
          <img id="github-icon" src="./images/github.png" alt="Github" />
        </a>
      </li>
      <li class="d-lg-none">
        <img class="footer-logo"
          src="./images/logo-quiznow.png"
          alt="Logo QuizNow" />
      </li>
    </ul>
  </div>
</footer>
