<footer>
  <div id="footer">
    <ul>
      <li>
        <img class="footer-logo" src="./images/logo.png" alt="Logo QuizNow">
      </li>
      <li>
        <p> 
          © 2021 All rights reserved.
          <a href="{{ url }}/">QuizNow</a>
        </p>
      </li>
      <li>
        <a href="https://github.com/acampamento-de-ferias" target="_blank">
          <img id="github-icon" src="./images/github.png" alt="Github">
        </a>
      </li>
    </ul>
  </div>
</footer>