<header>
            
    <nav>
        <div id="menu-mobile">
            <ul>
                <li>
                    <img src="./images/hamburger.png" alt="menu hamburger">
                </li>
                <li>
                    <img src="./images/search.png" alt="search bar">
                </li>
                <li>
                    <img src="./images/user.png" alt="user profile">
                </li>
            </ul>
        </div>  
    </nav>
    
</header>