<main>
    <div class="basic-card">
        <div class="title-section">
            <h3 class="title text-center">Criar pergunta</h3>
            <div class="secondary-divider d-lg-none"></div>
            <div class="primary-divider d-none d-lg-block"></div>
            <div class="form-group default-form-group">
                <label for="question-title">Título</label>
                <textarea
                    class="form-control shadow-none"
                    id="question-title"
                    cols="30"
                    rows="3"
                    minlength="8"
                    maxlength="150"
                    placeholder="8-150 caracteres"
                    formControl="title"
                    onkeyup="validateTitle(event, 8, 'keyup')"
                    onblur="validateTitle(event, 8, 'blur')"
                    onfocus="handleFocusInput(event)"
                    required></textarea>
                <span class="error-message"></span>
            </div>
        </div>

        <div class="answers-section">
            <h4 class="subtitle">Respostas</h4>
            <div class="answer right-answer form-group default-form-group" data-id="0">
                    <input
                    type="text"
                    class="form-control shadow-none"
                    formControl="answers"
                    onkeyup="validateList('answer', 'answers', event)"
                    onfocus="handleFocusInput(event)"
                    required>
                    <div class="right-bg">
                        <img src="./images/check.png" class="right-icon" alt="Correta">
                    </div>
            </div>
            <div class="answer wrong-answer form-group default-form-group" data-id="1">
                    <input
                    type="text"
                    class="form-control shadow-none"
                    formControl="answers"
                    onkeyup="validateList('answer', 'answers', event)"
                    onfocus="handleFocusInput(event)"
                    required>
                    <div class="wrong-bg">
                        <img src="./images/close.png" onclick="deleteAnswer(this)" class="wrong-icon" alt="Errada">
                    </div>
            </div>
            <div class="secondary-button">
                <button id="add-answer" class="btn shadow-none">
                    <img class="plus-icon" src="./images/plus.png" alt="Adicionar resposta">
                    Adicionar resposta
                </button>
            </div>
        </div>

        <div class="actions-section fixed-bottom">
            <div class="primary-button text-center">
                <button class="btn shadow-none" disabled>Salvar</button>
                <a href="#" id="cancel-question">Cancelar</a>
            </div>
        </div>
    </div>
</main>
